[data]
    wm_sway = {{ promptBoolOnce . "wm_sway" "Setup sway?" false }}
    wm_i3 = {{ promptBoolOnce . "wm_i3" "Setup i3?" false }}
    wm_hypr = {{ promptBoolOnce . "wm_hypr" "Setup hyprland?" false }}
